body {
    margin: 0;
    padding-top: 75px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ffd49c;
}

.biolink {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
    width: 15vw;
    margin: auto; 
}

.heading {
    background-color: #f57c18;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 30px;
    height: 75px; 
    cursor: pointer;
}

.buttonGrid {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
}

.buttonGrid button {
    width: 350px;
    height: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    border-radius: 10px;
    background-color: #f0fdff;
}

.buttonGrid button:hover {
    background-color: #d3eaed;
    cursor:pointer;
}

.calculator {
    width: 350px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  
  .calculator form {
    display: flex;
    flex-direction: column;
  }
  
  .calculator input {
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 8px;
  }
  
  .calculator button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .calculator button:hover {
    background-color: #2980b9;
  }
  